// Sassy

@import "../../../node_modules/govuk-frontend/govuk/all";

.turbo-progress-bar {
  // visibility: hidden;
  height: 10px;
  background-color: #00703c;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
